.container {
  max-width: 1000px;
  margin: 0 auto;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 2rem;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .product {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
